version: '2'

services:
  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/coen/docker/portainer/data:/data
    # To access on ip
    ports:
      - "9000:9000"
    expose:
      - "9000"
    environment:
      - TZ=Europe/Amsterdam
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=Host(\"portainer.dynadex.dev\")"
      - "traefik.http.routers.portainer.tls=true"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"

networks:
  web:
    external: true
