version: '2'

services:
  bazarr:
    image: linuxserver/bazarr:latest
    container_name: bazarr
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /home/coen/docker/bazarr/config:/config
      - /home/coen/nas/media/films:/films
      - /home/coen/nas/media/series:/series
    ports:
      - "6767:6767"
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.rule=Host(\"bazarr.dynadex.dev\")"
      - "traefik.http.routers.bazarr.tls=true"
      - "traefik.http.services.bazarr.loadbalancer.server.port=6767"

networks:
  web:
    external: true
